* {
    margin: 0px;
    padding: 0px;
}

.instructions-page {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions-container {
    width: 60vw;
    height: 70vh;
    background-color: #274c43;
    border: 20px solid;
    border-color: #bc752e;
    display: flex;
    flex-direction: column;
}

.back-arrow-box {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}

.back-arrow-box button {
    margin-top: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.back-arrow-box button:hover {
    background-color: #07B1A1;
}

.instructions-container button img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.how-to-play-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how-to-play-box h2 {
    font-family: 'Play', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin: 20px;
}

.how-to-play-box p {
    font-family: 'Play', sans-serif;
    font-size: 1.25rem;
    color: white;
    margin: 10px;
    text-align: center;
}